/* body{
    background: linear-gradient(110.42deg, #00C1FE 18.27%, #FAFFC1 91.84%);
} */
.bg-body{
    background: linear-gradient(110.42deg, #00C1FE 18.27%, #FAFFC1 91.84%);
    background-repeat: no-repeat;
}
/* .btn{
    --bs-text-opacity: none;
} */
.btn{
    --bs-text-opacity: none;
}